{% extends "base.html" %} {% block title %} Hakkımızda {% endblock %}  {% block content %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <h1> HAKKIMIZDA </h1>
        </div>           
    </div>
</div>

<div class="container mt-5 mb-5">
    <div class="row featurette">
        <div class="col-sm-1"></div>
        <div class="col-md-6 mt-5">
            <h2 class="featurette-heading">AHMET KARAMERCAN <span class="text-muted"></span></h2>
            <h2 class="featurette-heading"><span class="text-muted">Student</span></h2>
            <p class="lead"> Ahmet Karamercan was born in Çanakkale, Turkey, in 2001. He finished high school in 2019 then He got into TOBB University of Economics and Technology. Now, He is a fourth grade computer engineering student.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-3">
            <img class="featurette-image img-fluid mx-auto" src="https://www.etu.edu.tr/files/akademik/2018/11/02/1941e45435a638504e7c58835141259c.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

<hr class="featurette-divider">

<div class="container mt-5 mb-5">
    <div class="row featurette">
        <div class="col-sm-1"></div>
        <div class="col-md-6 mt-5">
            <h2 class="featurette-heading">KEREM YALÇINKAYA <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">
    Ahmet Karamercan was born in Çanakkale, Turkey, in 2001. He finished high school in 2019 then He got into TOBB University of Economics and Technology. Now, He is a third grade computer engineering student.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-md-3">
            <img class="featurette-image img-fluid mx-auto" src="https://www.etu.edu.tr/files/akademik/2018/11/02/1941e45435a638504e7c58835141259c.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>

{% endblock %}